<h1>Recipies</h1>


<% @recipes.each do |recipe| %>
 
    <h2><%= link_to recipe.title, recipe %></h2><br/>
    <%= recipe.description %>
    <%= image_tag recipe.image_url(:thumb).to_s%>
    
  
<% end %>


<br />

<%= link_to 'New Recipe', new_recipe_path %>
