</header>
<div class="container">
<h1>Create a new recipe!</h1>

<%= render 'form' %>

<%= link_to recipes_path do %>
	<h3><span class="glyphicon glyphicon-chevron-left"></span>Back To Recipes</h3>
<% end %>
</div>
