<header>
	<hgroup>
		<h1>
			Gablogger
		</h1>
	</hgroup><hr />
</header>
<section>
	<h1>Section heading</h1>
	<p>Find me in app/views/welcome/index.html.erb</p>
</section>
<section>
	<h1>Section heading</h1>
	<p>Find me in app/views/welcome/index.html.erb</p>
</section>
<section>
	<h1>Section heading</h1>
	<p>Find me in app/views/welcome/index.html.erb</p>
</section>

